desktop-base-width     = 1285px
rupture.desktop-cutoff = $tablet = 1345px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px


$cinza      = #2E4A6C
$azul       = #2E4A6C
$laranja    = #FF7E1D
$bgfooter   = #0A2B53
$fontfooter = #ffffff
$bg2         =#F3F3F3


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap');

dosis($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-weight 500
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

@import url('https://fonts.googleapis.com/css2?family=Montserrat');

montserrat($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 500
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

