.perfil-hr
    position absolute
    overflow hidden
    border solid 1px $laranja
    width 100%
    top 710px
    left 0
    +below(1385px)
        top 1240px
    +below(850px)
        display none
hr 
    display none
    +below(850px)
        display block
        border solid 1px $laranja
        width 100%
.sobre
    // padding-bottom $rem(100)
    position relative
    +mobile()
        padding-bottom 30px
    .section-1
        display flex
        margin-top 50px
        // column-gap 100px
        justify-content left
        min-height none
        padding-bottom 25px
        // position relative
        .home-line2
            position absolute
            height 780px
            border-left 2px solid $laranja
            top -130px
            margin-left 205px
            z-index 500
            +below(1360px)
                display none
        .imagem
            display block
            margin-left 140px
            margin-right 20px
            min-width 480px
            height 650px
            background-position center
            background-size cover
            background-repeat no-repeat
            white-space nowrap
            +below(1280px)
                margin-left auto
                margin-right auto
            +below(620px)
                min-width 10px
                height 325px
                width 240px

        .perfil-bloco-1
            margin-top -15px
            width 650px
            // min-width 650px
            margin-left 8%
            +below(1360px)
                margin-left 60px
                margin-right 60px
                margin-top 40px
                text-align left
            +below(620px)
                margin-left 15px
                margin-right 15px
        .perfil-titulo
            color $laranja
            montserrat 22
            font-weight 600
            +below(620px)
                montserrat 20
                font-weight 600
        .perfil-texto
            color $azul
            montserrat 16
            font-weight 600
            line-height 2
            +below(620px)
                montserrat 14
                font-weight 600
        +below(1340px)
            flex-wrap wrap
            flex-direction row
            justify-content center
   

    .section-2
        .perfil-parceiros
            display grid
            margin-top 60px
            justify-content center
            grid-template-columns repeat(auto-fill, 300px)
        .parceiros
            margin-bottom 130px
            margin-right auto
            margin-left auto
            min-width 150px
            width 150px
            min-height 135px
            height 135px
            background-position center
            background-size contain
            background-repeat no-repeat
            transition transform 0.5s
            +below(620px)
                min-width 100px
                min-height 90px
                margin-bottom 60px
            &:hover
                transform scale(1.2)
        p
            color $laranja
            montserrat 20
            font-weight 600
            text-align center
            letter-spacing 2px
            margin-top 75px
            margin-left auto
            margin-right auto
        .imagem
            position absolute
            width 50vw
            height 100%
            left 50%
            top 0
            background-position center
            background-size cover
        +below(960px)
            padding-bottom 0
            position relative
            min-height auto
            .imagem
                position absolute
                top 0
                left 50%
                transform translateX(-50%)
                width 100vw
                height 300px
                background-size cover
                background-position center
            .box
                width 100%
                margin 0 auto
                padding 30px
                text-align center
                dosis 16
   