.projeto-imagem
    position relative
    max-height 620px
.projetos
    .center-full
        // padding $rem(120) 0
        +below(1020px)
            padding 30px 0
    .index-grid
        display grid
        justify-content center
        grid-template-columns repeat(auto-fill, 450px)
        margin-top 60px
        margin-bottom 120px
        grid-gap 20px
        +below(1910px)
            grid-template-columns repeat(auto-fill, 450px)
        +below(1090px)
            grid-template-columns repeat(auto-fill, minmax(260px, 1fr))
            grid-gap 20px
        a
            position relative
            img
                width 100%
                display block
            .overlay
                position absolute
                left 0
                top 0
                width 100%
                height 100%
                background rgba($laranja, .5)
                opacity 0
                transition opacity .3s
                div
                    position absolute
                    left 75px
                    transform: translateX(-50%)
                    top 50%
                    transform: translateY(-50%)
                    // padding-top 150px
                    montserrat 16
                    color #fff
                    &:before
                        content ''
                        position absolute
                        top -118px
                        left -26px
                        height 254px
                        width 2px
                        background rgba($azul)
                        transition .2s ease
                    +mobile()
                        margin-top 0
            &:hover .overlay
                opacity 1
    .show
        &.desktop
            display grid
            +below(1320px)
                display block

        &.mobile
            display none
            +below(1320px)
                display block
        .descricao
            display flex
            // background $bg
            color $azul
            font-weight 600
            margin-top 10px
            margin-left 215px
            +below(1260px)
                margin-left 8%
            span
                display block
                montserrat 14
                opacity .8
                text-transform uppercase
                font-weight 600
                margin-top 15px
                position relative
                &:before
                    content ''
                    position absolute
                    left -15px
                    top -5px
                    height 24px
                    width 1px
                    background rgba($laranja)
                    transition .2s ease
                    +below(620px)
                        height 20px
                        top -3px
                +below(620px)
                    montserrat 12
                    margin-top 13px
                
            h2
                montserrat 20
                margin 10px 0
                font-weight 600
                color $azul
                margin-right 30px
                text-transform lowercase
                position relative
                &:before
                    content ''
                    position absolute
                    left -10px
                    height 24px
                    width 1px
                    background rgba($laranja)
                    transition .2s ease
                    +below(620px)
                        height 20px
                +below(620px)
                    montserrat 16
        .pshow-videobox
            display flex
            justify-content center
            flex-wrap wrap
            column-gap 15px
            margin-top 20px
            margin-bottom 15px
            row-gap 15px
        .video
            width 760px
            height 400px
            position relative
            +below(1320px)
                width 450px
                height 250px
            +below(520px)
                width 250px
                height 150px
            iframe
                position absolute
                left 0
                top 0
                width 100%
                height 100%
        
        .pshow-imagembox
            display flex
            flex-wrap wrap
            justify-content center
            column-gap 15px
            row-gap 15px
            img
                max-height 620px
                +below(967px)
                    max-width 450px
                +below(520px)
                    width 250px
        .imagens
            visibility hidden
            width 100%
            display flex
            flex-direction row
            justify-content flex-start
            flex-wrap wrap
            +mobile()
                flex-direction column
                align-items center
            .horizontal
                width 580px
                @media screen and (min-width: 1600px)
                    width 730px
                +below($tablet)
                    width calc("49% - 15px")
                +mobile()
                    width 100%
            .vertical
                width 280px
                @media screen and (min-width: 1600px)
                    width 355px
                +below($tablet)
                    width calc("24.5% - 15px")
                +mobile()
                    width 70%
    .link-topo
    .link-topo-box 
        display flex
        margin 0
        p
            margin 0
            margin-right 10px
            margin-left 10px
    .control-voltar
        margin-top 0
        margin-bottom 0
        // margin-left 20px
        margin-right 20px
        &:before
                content ''
                position absolute
                left -30px
                height 26px
                width 2px
                background rgba($laranja)
                transition .2s ease

    .ico-seta-topo
        width 20px
        height 20px
        margin-top 2px
    .controls
        display flex
        align-items center
        justify-content center
        margin-top $rem(70)
        margin-bottom 60px
        +mobile()
            margin-top 40px
        a
            montserrat 18
            color $cinza
            padding-left 20px
            position relative
            padding-top -15px
            + a
                padding-left 0
                padding-right 20px
                margin-left 60px
                &:before
                    display none
                    right 0
                    left auto
                    transform rotate(135deg) translate(4px, 0)

        +below($tablet)
            margin 0
            margin-bottom 60px
            margin-top 40px
            .gutter
                width 30px
            .sizer
            .thumb
                width calc('50% - 15px')
                margin-bottom 30px
        +mobile()
            margin-bottom 30px
            .gutter
                width 20px
            .sizer
            .thumb
                width 100%
                margin-bottom 20px
.categorias3
    display flex
    flex-wrap wrap
    position relative
    justify-content center
    color $azul
    font-weight 400
    column-gap 40px
    font-size 16px!important
    margin-bottom 60px
    margin-top -20px
    margin-right auto
    margin-left auto
    row-gap 30px
    +below(1260px)
        // display none
    a
        position relative
        &:before
            content ''
            position absolute
            top -3px
            left -20px
            height 24px
            width 2px
            background rgba($laranja)
            transition .2s ease





.fancybox-overlay
    +mobile()
        width 100vw !important
.fancybox-wrap 
    +mobile()
        width 80% !important
        top 80px !important
.fancybox-inner
    +mobile()
        width 100% !important
.fancybox-prev
    width 50%
    left -50px
    +mobile()
        left -20px !important
.fancybox-next
    width 50%
    right -50px
    +mobile()
        right -20px !important